manifest {
    author = 'Martin Grignard <mar.grignard@uliege.be>'
    version = '0.1.0'
}

profiles {
    standard {
        includeConfig 'conf/base.config'
        includeConfig 'conf/local.config'
    }

    cluster {
        includeConfig 'conf/base.config'
        includeConfig 'conf/slurm.config'
    }
}