/* Base configuration.

This configuration file is included in all the profiles. It sets up the reporting and
tracing rules. It also specifies how singularity is used.
*/

process {
    withLabel: duckdb {
        container = 'file://inputs/voi/envs/duckdb.simg'
    }
    withLabel: python {
        conda = 'envs/env.yaml'
    }
}

report {
    enabled = true
    file = 'reports/report.html'
    overwrite = true
}

singularity {
    enabled = true
    autoMounts = true
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = 'reports/trace.txt'
    overwrite = true

    sep = '\t'
    raw = false
}